{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>予算管理物件一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">工事名</th>
              <th scope="col">工事コード</th>
              <th scope="col">請負金額</th>
              <th scope="col">実行予算</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for employees in employees %}
             <tr>
              <td>
              <th scope="row">{{ employees.id }}</th>
              <td>{{ employees.name }}</td>
              <td>{{ employees.cord }}</td>
              <td>{{ employees.ukeoi }}</td>
              <td>{{ employees.jikko }}</td>             
        
                <form action="{{ url_for('employee_delete', id=employees.id) }}" method="POST">
                  <input class="btn btn-danger btn-sm" type="submit" value="削除">
                </form>
              </td>
             </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}