{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>予算管理物件一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">工事名</th>
              <th scope="col">工事コード</th>
              <th scope="col">請負金額</th>
              <th scope="col">実行予算</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>
              <th scope="row">{{ employee.id }}</th>
              <td>{{ employee.name }}</td>
              <td>{{ employee.cord }}</td>
              <td>{{ employee.ukeoi }}</td>
              <td>{{ employee.jikko }}</td>             
        
                <form action="{{ url_for('employee_delete', id=employee.id) }}" method="POST">
                  <input class="btn btn-danger btn-sm" type="submit" value="削除">
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
{% endblock %}